@import './element-ui.scss';
@import './mixin.scss';
//npm intall sass-loader --save;
//npm install node-sass --save;
body {
  min-width: 960px;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Arial, sans-serif;
  background:#fff;
  font-size:14px;
}
//公共样式调整
.el-main{padding:20px 0px;}
.app-container{padding:20px;}
.el-table{margin-top:20px !important;}



