//公共样式调整
body {
  min-width: 960px;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Arial, sans-serif;
  background:#fff;
  font-size:14px;
}
.el-main{padding:20px 0px;}
.app-container{padding:20px;}
.el-table{margin-top:20px !important;}
b{font-family:"iconfont";color: #909399;font-size:20px;}



