//分页active颜色
$pageBack:#4c70e8;
 //开关按钮颜色
$switchBtn:#4c70e8;
//操作按钮颜色
$operationColor:#4c70e8;
//表格字体大小
$tableSize:12px;
//表格字体颜色
$tableColor:#1f2d3d;
//表格高度
$tableTrHeight:60px;
//表格th颜色
$tableBackGround:#eef1f6;
//btn确认按钮背景颜色
$buttonBack:#4c70e8;
//btn确认字体按钮颜色
$buttonColor:#fff;
//btn取消按钮背景颜色
$buttonBackCancal:#fff;
///btn取消按钮字体颜色
$buttonColorCancal:#4c70e8;
//selete选中颜色
$seleteColor:#fff;
//selete选中背景,滑块背景，checkbox背景，logding背景
$seleteBack:#4c70e8;


@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

@mixin scrollBar {
  &::-webkit-scrollbar-track-piece {
    background: #d3dce6;
  }
  &::-webkit-scrollbar {
    width: 6px;
  }
  &::-webkit-scrollbar-thumb {
    background: #99a9bf;
    border-radius: 20px;
  }
}

@mixin relative {
  position: relative;
  width: 100%;
  height: 100%;
}

@mixin backColor($background,$border){
  background-color: $background;
  border: 1px solid $border
}

@mixin seleteColor($seleteColor,$seleteBack){
  color: $seleteColor;
  background-color: $seleteBack
}

@mixin tableWhole($tableSize,$tableColor,$tableTrHeight,$tableBackGround:red){
  font-size: $tableSize;
  color: $tableColor;
  & td{
    height: $tableTrHeight;
  }
  & th{
    background-color:$tableBackGround;
    height: $tableTrHeight;
  }
  & .el-table__header-wrapper thead div{
    background-color:$tableBackGround;
  }
}

